Repository jesse-lee-media/wedding-day-content-co: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run eslint:fix, npm run stylelint:fix, npm run prettier:fix

chore: run prettier
  next.config.js
  postcss.config.js
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.tsx
  tailwind.config.ts
Due: npm run eslint:fix, npm run stylelint:fix, npm run prettier:fix

feat: create base site
  public/favicon.ico
  public/favicons/android-chrome-192x192.png
  public/favicons/android-chrome-512x512.png
  public/favicons/apple-touch-icon-114x114.png
  public/favicons/apple-touch-icon-120x120.png
  public/favicons/apple-touch-icon-144x144.png
  public/favicons/apple-touch-icon-152x152.png
  public/favicons/apple-touch-icon-167x167.png
  public/favicons/apple-touch-icon-180x180.png
  public/favicons/apple-touch-icon-57x57.png
  public/favicons/apple-touch-icon-60x60.png
  public/favicons/apple-touch-icon-72x72.png
  public/favicons/apple-touch-icon-76x76.png
  public/favicons/apple-touch-icon.png
  public/favicons/favicon-128x128.png
  public/favicons/favicon-16x16.png
  public/favicons/favicon-196x196.png
  public/favicons/favicon-32x32.png
  public/favicons/favicon-96x96.png
  public/fonts/ClashDisplay-Variable.ttf
  public/next.svg
  public/vercel.svg
  src/app/favicon.ico
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.tsx
  src/utils/classes.ts
  tailwind.config.ts
Due: npm run eslint:fix, npm run stylelint:fix, npm run prettier:fix

feat/create site (#1)
  .commitlintrc.json
  .eslintrc.json
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.json
  .prettierrc.json
  .stylelintrc.json
  next.config.js
  package-lock.json
  package.json
  postcss.config.js
  public/favicon.ico
  public/favicons/android-chrome-192x192.png
  public/favicons/android-chrome-512x512.png
  public/favicons/apple-touch-icon-114x114.png
  public/favicons/apple-touch-icon-120x120.png
  public/favicons/apple-touch-icon-144x144.png
  public/favicons/apple-touch-icon-152x152.png
  public/favicons/apple-touch-icon-167x167.png
  public/favicons/apple-touch-icon-180x180.png
  public/favicons/apple-touch-icon-57x57.png
  public/favicons/apple-touch-icon-60x60.png
  public/favicons/apple-touch-icon-72x72.png
  public/favicons/apple-touch-icon-76x76.png
  public/favicons/apple-touch-icon.png
  public/favicons/favicon-128x128.png
  public/favicons/favicon-16x16.png
  public/favicons/favicon-196x196.png
  public/favicons/favicon-32x32.png
  public/favicons/favicon-96x96.png
  public/fonts/ClashDisplay-Variable.ttf
  public/next.svg
  public/vercel.svg
  src/app/favicon.ico
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.tsx
  src/utils/classes.ts
  tailwind.config.ts
Due: npm run eslint:fix, npm run stylelint:fix, npm run prettier:fix

feat: and ImagesBlock and ContentCards block
  next.config.js
  package-lock.json
  package.json
  src/app/globals.css
  src/app/layout.tsx
  src/components/Blocks/ButtonLinkBlock.tsx
  src/components/Blocks/ContentCardsBlock.tsx
  src/components/Blocks/HeroSectionBlock.tsx
  src/components/Blocks/ImagesBlock.tsx
  src/components/Blocks/PackageCardsBlock.tsx
  src/components/Blocks/SectionBlock.tsx
  src/components/Blocks/index.tsx
  src/lib/api/index.ts
  src/lib/components/Buttons.tsx
  src/lib/types/payload.ts
  src/lib/utils/classes.ts
  tailwind.config.ts
Due: npm run eslint:fix, npm run stylelint:fix, npm run prettier:fix

feat: and ImagesBlock and ContentCards block (#3)
  next.config.js
  package-lock.json
  package.json
  src/app/globals.css
  src/app/layout.tsx
  src/components/Blocks/ButtonLinkBlock.tsx
  src/components/Blocks/ContentCardsBlock.tsx
  src/components/Blocks/HeroSectionBlock.tsx
  src/components/Blocks/ImagesBlock.tsx
  src/components/Blocks/PackageCardsBlock.tsx
  src/components/Blocks/SectionBlock.tsx
  src/components/Blocks/index.tsx
  src/lib/api/index.ts
  src/lib/components/Buttons.tsx
  src/lib/types/payload.ts
  src/lib/utils/classes.ts
  tailwind.config.ts
Due: npm run eslint:fix, npm run stylelint:fix, npm run prettier:fix

fix(ImagesBlock): add missing image props
  src/components/Blocks/ImagesBlock.tsx
Due: npm run eslint:fix, npm run prettier:fix

chore: update dependencies, update name
  package-lock.json
  package.json
Due: npm run prettier:fix

chore: update dev tools
  .husky/pre-commit
  .lintstagedrc.json
  package.json
Due: npm run prettier:fix

fix: update grid breakpoints
  src/components/Blocks/BlockGallery.tsx
  src/components/Blocks/BlockPortfolioCards.tsx
Due: npm run eslint:fix, npm run prettier:fix

feat: add umami analytics
  package-lock.json
  package.json
  src/app/layout.tsx
  src/lib/components/Accordion.tsx
  src/lib/types/payload.ts
  src/lib/utils/index.ts
Due: npm run eslint:fix, npm run prettier:fix

feat: add umami analytics (#5)
  package-lock.json
  package.json
  src/app/layout.tsx
  src/components/Blocks/BlockGallery.tsx
  src/components/Blocks/BlockPortfolioCards.tsx
  src/lib/components/Accordion.tsx
  src/lib/types/payload.ts
  src/lib/utils/index.ts
Due: npm run eslint:fix, npm run prettier:fix

refactor: update payload types, fix buttons, fix styles
  package-lock.json
  package.json
  src/app/globals.css
  src/app/not-found.tsx
  src/components/Blocks/BlockButtonLink.tsx
  src/components/Blocks/BlockHero.tsx
  src/components/Blocks/BlockPortfolioCards.tsx
  src/components/Blocks/index.tsx
  src/components/Footer/FaqAccordion.tsx
  src/components/Footer/index.tsx
  src/components/Navigation/NavigationLinks.tsx
  src/lib/components/Accordion.tsx
  src/lib/components/Button.tsx
  src/lib/components/Buttons.tsx
  src/lib/components/Icons/index.tsx
  src/lib/components/Marquee.tsx
  src/lib/components/PayloadButtonLink.tsx
  src/lib/components/PayloadLink.tsx
  src/lib/graphql/globals.ts
  src/lib/types/payload.ts
Due: npm run eslint:fix, npm run stylelint:fix, npm run prettier:fix

chore: update lint-staged
  .lintstagedrc.json
Due: npm run prettier:fix

fix: move to iconoir icons, update styles
  package-lock.json
  package.json
  src/app/not-found.tsx
  src/components/Blocks/BlockPortfolioCards.tsx
  src/components/Footer/FaqsLoading.tsx
  src/components/Navigation/NavigationLinks.tsx
  src/components/Serialize.tsx
  src/lib/components/Accordion.tsx
  src/lib/components/Button.tsx
  src/lib/components/Icons/IconArrowRight.tsx
  src/lib/components/Icons/IconArrowUpRight.tsx
  src/lib/components/Icons/IconChevronDown.tsx
  src/lib/components/Icons/IconMenu.tsx
  src/lib/components/Icons/IconX.tsx
  src/lib/components/Icons/index.tsx
  src/lib/components/PayloadImage.tsx
  src/lib/components/Sheet.tsx
Due: npm run eslint:fix, npm run prettier:fix

feat: implement inquiry form
  package-lock.json
  package.json
  src/app/inquire/page.tsx
  src/app/layout.tsx
  src/components/InquiryForm/InquiryFormLoading.tsx
  src/components/InquiryForm/index.tsx
  src/lib/components/Button.tsx
  src/lib/components/Calendar.tsx
  src/lib/components/Form.tsx
  src/lib/components/Input.tsx
  src/lib/components/Label.tsx
  src/lib/components/Popover.tsx
  src/lib/components/RadioGroup.tsx
  src/lib/components/Select.tsx
  src/lib/components/TextArea.tsx
  src/lib/components/Toast.tsx
  src/lib/components/Toaster.tsx
  src/lib/hooks/use-toast.tsx
  src/lib/providers/index.tsx
  src/lib/types/payload.ts
  tailwind.config.ts
Due: npm run eslint:fix, npm run prettier:fix

feat(serialization): add link and list support
  package-lock.json
  package.json
  src/app/globals.css
  src/components/serialize.tsx
Due: npm run eslint:fix, npm run stylelint:fix, npm run prettier:fix

feat(serialization): add link and list support (#7)
  package-lock.json
  package.json
  src/app/globals.css
  src/components/serialize.tsx
Due: npm run eslint:fix, npm run stylelint:fix, npm run prettier:fix

fix: update desktop and mobile navigation
  package-lock.json
  package.json
  src/components/navigation/index.tsx
  src/components/navigation/links.tsx
  src/components/navigation/mobile-menu.tsx
Due: npm run eslint:fix, npm run prettier:fix

fix: update desktop and mobile navigation (#8)
  package-lock.json
  package.json
  src/components/navigation/index.tsx
  src/components/navigation/links.tsx
  src/components/navigation/mobile-menu.tsx
Due: npm run eslint:fix, npm run prettier:fix

chore: update dependencies
  package-lock.json
  package.json
Due: npm run prettier:fix

fix: update payload types, switch to rest for depth issues
  src/app/[[...slug]]/page.tsx
  src/app/inquire/page.tsx
  src/components/serialize.tsx
  src/lib/api/index.ts
  src/lib/types/payload.ts
Due: npm run eslint:fix, npm run prettier:fix

feat: add resend email
  package-lock.json
  package.json
  src/components/inquiry-form/index.tsx
  src/components/inquiry-form/inquiry.actions.ts
Due: npm run eslint:fix, npm run prettier:fix

fix/payload-resend (#9)
  package-lock.json
  package.json
  src/app/[[...slug]]/page.tsx
  src/app/inquire/page.tsx
  src/components/inquiry-form/index.tsx
  src/components/inquiry-form/inquiry.actions.ts
  src/components/serialize.tsx
  src/lib/api/index.ts
  src/lib/types/payload.ts
Due: npm run eslint:fix, npm run prettier:fix

feat: add new blocks, fix small issues
  package-lock.json
  package.json
  src/app/[[...slug]]/page.tsx
  src/app/globals.css
  src/components/blocks/gallery.tsx
  src/components/blocks/hero.tsx
  src/components/blocks/image-stack.tsx
  src/components/blocks/index.tsx
  src/components/blocks/messages-marquee.tsx
  src/components/blocks/portfolio-cards.tsx
  src/components/footer/index.tsx
  src/lib/components/breadcrumbs.tsx
  src/lib/components/carousel.tsx
  src/lib/components/marquee.tsx
  src/lib/components/payload-image.tsx
  src/lib/types/payload.ts
  tailwind.config.ts
Due: npm run eslint:fix, npm run stylelint:fix, npm run prettier:fix

feat: add new blocks, fix small issues (#10)
  package-lock.json
  package.json
  src/app/[[...slug]]/page.tsx
  src/app/globals.css
  src/components/blocks/gallery.tsx
  src/components/blocks/hero.tsx
  src/components/blocks/image-stack.tsx
  src/components/blocks/index.tsx
  src/components/blocks/messages-marquee.tsx
  src/components/blocks/portfolio-cards.tsx
  src/components/footer/index.tsx
  src/lib/components/breadcrumbs.tsx
  src/lib/components/carousel.tsx
  src/lib/components/marquee.tsx
  src/lib/components/payload-image.tsx
  src/lib/types/payload.ts
  tailwind.config.ts
Due: npm run eslint:fix, npm run stylelint:fix, npm run prettier:fix

fix(lib/components/accordion): separate header from trigger
  src/lib/components/accordion.tsx
Due: npm run eslint:fix, npm run prettier:fix

feat(lib/components): add spinner
  src/lib/components/spinner.tsx
Due: npm run eslint:fix, npm run prettier:fix

fix: clean up code, fix small issues
  src/app/layout.tsx
  src/components/blocks/index.tsx
  src/components/blocks/messages-marquee.tsx
  src/components/blocks/portfolio-cards.tsx
  src/components/footer/faq-accordion.tsx
  src/components/footer/faq-section.tsx
  src/components/inquiry-form/index.tsx
  src/lib/components/breadcrumbs.tsx
  src/lib/components/button.tsx
  src/lib/components/calendar.tsx
  src/lib/components/carousel.tsx
  src/lib/components/form.tsx
  src/lib/components/input.tsx
  src/lib/components/label.tsx
  src/lib/components/marquee.tsx
  src/lib/components/popover.tsx
  src/lib/components/radio-group.tsx
  src/lib/components/select.tsx
  src/lib/components/sheet.tsx
  src/lib/components/textarea.tsx
  src/lib/components/toast.tsx
  src/lib/hooks/use-toast.tsx
  src/lib/providers/index.tsx
  src/lib/types/base-props.ts
Due: npm run eslint:fix, npm run prettier:fix

chore: update dependencies
  package-lock.json
  package.json
  src/lib/components/carousel.tsx
Due: npm run eslint:fix, npm run prettier:fix

fix/small issues (#11)
  package-lock.json
  package.json
  src/app/layout.tsx
  src/components/blocks/index.tsx
  src/components/blocks/messages-marquee.tsx
  src/components/blocks/portfolio-cards.tsx
  src/components/footer/faq-accordion.tsx
  src/components/footer/faq-section.tsx
  src/components/inquiry-form/index.tsx
  src/lib/components/accordion.tsx
  src/lib/components/breadcrumbs.tsx
  src/lib/components/button.tsx
  src/lib/components/calendar.tsx
  src/lib/components/carousel.tsx
  src/lib/components/form.tsx
  src/lib/components/input.tsx
  src/lib/components/label.tsx
  src/lib/components/marquee.tsx
  src/lib/components/popover.tsx
  src/lib/components/radio-group.tsx
  src/lib/components/select.tsx
  src/lib/components/sheet.tsx
  src/lib/components/spinner.tsx
  src/lib/components/textarea.tsx
  src/lib/components/toast.tsx
  src/lib/hooks/use-toast.tsx
  src/lib/providers/index.tsx
  src/lib/types/base-props.ts
Due: npm run eslint:fix, npm run prettier:fix

fix: update border styles, clean up code
  src/app/[[...slug]]/page.tsx
  src/app/globals.css
  src/components/blocks/button-link.tsx
  src/components/blocks/gallery.tsx
  src/components/blocks/hero.tsx
  src/components/blocks/image-stack.tsx
  src/components/blocks/messages-marquee.tsx
  src/components/blocks/portfolio-cards.tsx
  src/components/blocks/section.tsx
  src/components/blocks/stepper.tsx
  src/components/footer/faq-section.tsx
  src/components/footer/faqs-loading.tsx
  src/components/footer/index.tsx
  src/components/inquiry-form/index.tsx
  src/components/navigation/index.tsx
  src/components/navigation/mobile-menu.tsx
  src/components/serialize.tsx
  src/lib/api/index.ts
  src/lib/components/accordion.tsx
  src/lib/components/blockquote.tsx
  src/lib/components/breadcrumbs.tsx
  src/lib/components/button.tsx
  src/lib/components/carousel.tsx
  src/lib/components/icons/index.tsx
  src/lib/components/input.tsx
  src/lib/components/label.tsx
  src/lib/components/marquee.tsx
  src/lib/components/payload-button-link.tsx
  src/lib/components/payload-image.tsx
  src/lib/components/payload-link.tsx
  src/lib/components/popover.tsx
  src/lib/components/radio-group.tsx
  src/lib/components/select.tsx
  src/lib/components/sheet.tsx
  src/lib/components/textarea.tsx
  src/lib/components/toast.tsx
  tailwind.config.ts
Due: npm run eslint:fix, npm run stylelint:fix, npm run prettier:fix

feat(blocks): add quotes and stepper
  src/components/blocks/index.tsx
  src/components/blocks/quotes.tsx
  src/components/blocks/stepper.tsx
  src/lib/components/blockquote.tsx
  src/lib/types/payload.ts
Due: npm run eslint:fix, npm run prettier:fix

Path conditions:
  npm run eslint:fix: any of: **/*.{js,jsx,ts,tsx}
  npm run stylelint:fix: any of: **/*.{css,scss}
  npm run prettier:fix: any of: *
